@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 4rem;
}

img {
  max-width: 100%;
  animation-duration: 950ms;
  animation-name: animation-img;
}

h1 {
  color: #eb4a4b;
  font-size: 5rem;
  padding: 2rem 0;
  animation-duration: 950ms;
  animation-name: animation-h1;
}

@keyframes animation-img {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animation-h1 {
  from {
    opacity: 0;
    transform: translate(0px, 100px);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0);
  }
}